<div class="auth-content" fxLayout="row wrap" fxLayoutGap="5%">

  <div fxFlex="45%" fxFlex.lt-md="100%">
    <div fxLayout="row wrap" fxLayoutGap="1%">
      <button mat-raised-button
              class="auth-tab"
              [ngClass]="left ? 'auth-tab active' : 'auth-tab'"
              fxFlex="30%"
              (click)="SwitchTab('left')">
        LOGIN
      </button>
      <button mat-raised-button
              class="auth-tab"
              [ngClass]="right ? 'auth-tab active' : 'auth-tab'"
              fxFlex="30%"
              (click)="SwitchTab('right')">
        REGISTER
      </button>
    </div>
    <div class="auth-card">
      <div class="mask-left" [hidden]="!left"></div>
      <div class="mask-right" [hidden]="!right"></div>
      <div class="auth-login" *ngIf="left">
        <!-- LOGIN -->
        <div class="auth-form-container">
          <div class="input-field">
            <input id="email-login" type="email" class="validate">
            <label for="email-login">Email</label>
          </div>
          <div class="input-field">
            <input id="password-login" type="password" class="validate">
            <label for="password-login">Password</label>
          </div>
          <div>
            <label>
              <input type="checkbox" class="auth-checkbox" />
              <span class="auth-label">Remember me</span>
            </label>
          </div>
          <br />
          <button mat-raised-button type="button" dark class="auth-action-button" (click)="Login()">LOGIN</button>
        </div>        
      </div>
      <div class="auth-register" *ngIf="right">
        <!-- REGISTER -->
        <div class="auth-form-container">
          <div class="input-field">
            <input id="email-reg" type="email" class="validate">
            <label for="email-reg">Email</label>
          </div>
          <div class="input-field">
            <input id="password-reg" type="password" class="validate">
            <label for="password-reg">Password</label>
          </div>
          <div class="input-field">
            <input id="password-check" type="password" class="validate">
            <label for="password-check">Password again (must match the previous one)</label>
          </div>
          <div>
            <label>
              <input type="checkbox" class="auth-checkbox" />
              <span class="auth-label">I agree to stuff yo</span>
            </label>
          </div>
          <br />
          <button mat-raised-button type="button" dark class="auth-action-button">REGISTER</button>
        </div>
      </div>
    </div>
  </div>

  <div class="text-normal" fxFlex="45%" fxFlex.lt-md="100%">
    <h1 class="lookatthis">Create your own Rift now!</h1>
    <p>Create your account (or log in if you already have one) and create your first Rift in a few clicks!</p>
    
  </div>

</div>
