<div class="article-preview" fxLayout="row wrap" fxLayoutGap="10px" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="10px">
  <mat-card class="article-card" fxFlex="45%" fxFlex.lt-md="100%">
    <img mat-card-md-image class="article-card-img">
    <mat-card-header>
      <mat-card-title-group class="article-card-title-group">
        <mat-card-title class="article-card-title">This is the article title</mat-card-title>
        <mat-card-subtitle class="article-card-subtitle"></mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="article-card-content">
      <p class="article-card-content-p">This is the article content.</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="article-card" fxFlex="45%" fxFlex.lt-md="100%">
    <img mat-card-md-image class="article-card-img">
    <mat-card-header>
      <mat-card-title-group class="article-card-title-group">
        <mat-card-title class="article-card-title">This is the article title</mat-card-title>
        <mat-card-subtitle class="article-card-subtitle"></mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="article-card-content">
      <p class="article-card-content-p">This is the article content.</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="article-card" fxFlex="45%" fxFlex.lt-md="100%">
    <img mat-card-md-image class="article-card-img">
    <mat-card-header>
      <mat-card-title-group class="article-card-title-group">
        <mat-card-title class="article-card-title">This is the article title</mat-card-title>
        <mat-card-subtitle class="article-card-subtitle"></mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="article-card-content">
      <p class="article-card-content-p">This is the article content.</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="article-card" fxFlex="45%" fxFlex.lt-md="100%">
    <img mat-card-md-image class="article-card-img">
    <mat-card-header>
      <mat-card-title-group class="article-card-title-group">
        <mat-card-title class="article-card-title">This is the article title</mat-card-title>
        <mat-card-subtitle class="article-card-subtitle"></mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="article-card-content">
      <p class="article-card-content-p">This is the article content.</p>
    </mat-card-content>
  </mat-card>
</div>
