@import "../../styles.less";

/* Material Classes */

.mat-card-header {
  display: block;
}

/* Classes */

.section-title {
  font-size: 2rem;
  font-weight: 900;
  color: @com-black;
}

.article-card {
  margin: 5px 0;
  background-color: @logos-light;
  color: @com-black;
  cursor: pointer;
}

.article-card-img {
  display: block;
  padding: 10px;
}

.article-card-title {
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
  color: @com-white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.article-card-subtitle {
  color: @com-black;
}

.text-normal {
  color: @com-black;
}
