<div class="character-view-main-wrapper">
    <div class="character-view-section" fxLayout="row">
        <div fxFlex="5%" class="character-portrait character-header-section">
            <img src="assets/portrait_blank.png" alt="" class="circle responsive-img character-portrait-img">
        </div>
        <div class="character-name character-header-section" fxFlex="30%">
            <h1 class="character-name-text">Character Name</h1>
            <p class="character-desc">Character description</p>
        </div>
        <div class="character-header-spacer character-header-section" fxFlex="35%"></div>
        <div class="character-header-buttons character-header-section" fxFlex="30%">
            <div fxLayout="row wrap" fxLayoutGap="3%">
                <a class="waves-effect waves-light btn character-header-button" fxFlex="25%">Edit</a>
                <a class="waves-effect waves-light btn character-header-button" fxFlex="25%">Share</a>
                <a class="waves-effect waves-light btn character-header-button" fxFlex="25%">Delete</a>
            </div>
        </div>
    </div>
</div>