@import "../../../styles.less";

/* Classes */

.character-view-section {
    border: 3px solid @mythos-dark;
    background-color: @logos-light;
    color: @com-black;
    margin: 0.5rem 0;
}

.character-portrait {
    height: 90%;
    margin: 10px;
}

.character-portrait-img {
    border: 6px solid @mythos-dark;
    border-radius: 50%;
}

.character-header-section {
    margin: 10px;
}

.character-header-button {
    background-color: @mythos-dark;
    font-family: 'Abril Fatface';
    margin: 0 5px;
}

.character-name-text {
    font-family: "Abril Fatface", cursive;
    font-weight: 400;
    font-size: 2rem;
}

.character-desc {
    font-weight: 400;
    font-style: italic;
}

.character-view-content {
    margin: 20px;
}