@import "../../styles.less";

/* Classes */

.section-title {
  color: @com-black;
  font-family: 'Abril Fa-tface';
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.25px;
  margin-top: 2rem;
}

.text-normal {
  color: @com-black;
}

/* IDs */

#development {
    padding: 5px 15px;
    background-color: @logos-dark;
}
