<section id="development">
  <h1 class="section-title"><i class="fas fa-wrench"></i> Under Development</h1>
  <p class="text-normal">The site is currently under development, features are not ready to use. If you have any questions, feel free to contact me.</p>
</section>
<section id="auth">
  <app-auth id="auth-component"></app-auth>
</section>
<section id="news">
  <h1 class="section-title">What's new?</h1>
  <app-news></app-news>
</section>
<section id="contact">
  <h1 class="section-title">Contact me</h1>
  <app-contact></app-contact>
</section>
